<h1>Ajouter un projet</h1>

<form method="post" enctype="multipart/form-data">

    Titre de votre projet<br>
    <input type="text" name="titre"><br><br>

    Description du projet<br>
    <textarea name="description" cols="30" rows="10"></textarea><br><br>

    
    Domaine du projet<br>
    <input type="text" name="titre" placeholder="Web design..."><br><br>

    

    Ajouter une image a votre projet<br>
    <input type="file" name="photo"><br><br>

    <button>Ajouter le projet</button>
</form>