<h1>Modifier le projet</h1>

<form method="post">
	<label>Nom du projet</label><br>
	<input type="text" name="title" value="<%= proj.title %>"><br><br>
	<label>Description du projet</label><br>
	<textarea name="content"><%= proj.description %></textarea><br><br>

    <button>Enregistrer</button>
</form>
